{% extends "main/index.html" %}

{% block content %}
{% if name %}
<h2>¡Bienvenido {{ name }}!</h2>
{% endif %}
<a>Para escoger su sandwich por favor llene el formulario:</a>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="venta" value="{{ v.id }}">
    <div class="form-group">
        <label for="tamano">Tamaño del sandwich:</label>
        <select class="form-control" name="size" id="tamano">
            {% for s in sd %}
            <option value="{{ s.id }}">{{s.size}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <a>Ingredientes extras:</a>
        <div class="row">
            <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" id="ingdef" checked disabled>
                <label class="form-check-label" for="ingdef">Estándar</label>
            </div>
            {% for i in ing %}
            <div class="form-check form-check-inline col-sm-5">
                <input class="form-check-input" type="checkbox" name="spice" id="ing{{ i.id }}" value="{{ i.id }}">
                <label class="form-check-label" id="ing{{ i.id }}">{{ i.nombre }}</label>
            </div>
            {% endfor %}
        </div>
    </div>

    <button type="submit" name="add" class="btn btn-primary">Agregar sandwich</button>
    {% if cli %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SDModal">Ver resumen de la orden</button>
    {% endif %}
</form>

<!--Modal boxes-->

<div class="modal fade" id="SDModal" tabindex="-1" role="dialog" aria-labelledby="SDModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="SDModalTitle">Resumen de la compra</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Objetos
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <form method="post">
                    <button type="submit" name="confirm" class="btn btn-primary">Confirmar pedido</button>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-toggle="modal" data-target="#CancelModal">Cancelar pedido</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="CancelModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CancelModalTitle">Cancelar compra</h5>
            </div>
            <div class="modal-body">
                <a>¿Seguro que desea cancelar su compra?</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#SDModal">No, regresar</button>
                <form method="post">
                    <button type="submit" name="cancelar" class="btn btn-danger">Sí, cancelar pedido</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jsscripts %}
<script>

</script>
{% endblock %}